{% extends 'base.html' %}
{% load static %}
{% block title %} Test {% endblock title %}
{% block content %}
<div class="left-ads-display col-lg-2">
    <h1>Съедобные грибы опята</h1>
    <p>Среди
        лесных даров сложно обойти вниманием съедобные грибы опята, которые
        отлично подходят для маринования, приготовления горячих блюд и холодных
        закусок. Существуют и ложные виды опят – о них в материале рассказано
        кратко, информация представлена для успешного распознавания в лесу.

        А представление на фото опята съедобные позволят избежать роковой
        ошибки, поскольку ложные виды опасны не только для здоровья, но и для
        жизни человека.
    </p>
    <p><strong>Также посмотрите грибы опята съедобные на фото очень
        внимательно, поскольку в полевых условиях сравнивать найденные
        экземпляры будет не с чем:</strong></p>
    <h2 id="i-2">Желто-красные разновидности съедобных опят с описанием</h2>
    <p>Гриб съедобен. Желто-красные разновидности съедобных опят украшают
        бархатистые шляпки 5—15 см в диаметре, у молодых экземпляров
        полусферические, позже выпуклые, мясистые, покрыты красными чешуйками в
        молодом возрасте, сплошняком красные, позже появляются желтые места на
        краю шляпки и там, куда не попадал свет из-за опавшего листа или
        веточки. Шляпки сухие, не слизистые. Пластинки частые желтые или
        золотисто-желтые. Ножка цилиндрическая, длиной 6—15 см, толщиной 1—2 см,
        желто-красная, бархатистая.</p>
    <p>Продолжить описание съедобных опят следует тем, что растут они в
        смешанных и хвойных лесах на пнях, стволах и корнях хвойных деревьев, на
        корнях сухих сосен.</p>
    <p>Плодоносит с июля по октябрь.</p>
    <p><strong>Ядовитый двойник опенка <em>желто-красного — рядовка серно-жёлтая (Tricholoba sulphureum) </em>легко
        отличается окраской плодового тела и неприятным ацетиленовым запахом мякоти.</strong></p>
    <p>Гриб немного горчит. Некоторые специалисты советуют его предварительно отварить перед приготовлением.</p>
    <h2 id="i-3">Опёнок зимний (Flammulina velutipes)</h2>
    <p>Гриб съедобен. Шляпки 2—8 см, молодые — колокольчатые или выпуклые,
        затем распростертые, клейкие, желто-охряные или ржаво-коричневые, снизу с
        частыми бело-охряными или белыми пластинками. Ножки тонкие,
        бархатистые, без кольца, сначала под цвет шляпки, не очень жесткие,
        затем становятся темно-коричневыми или почти черными и жесткими. Главный
        отличительный признак зимнего опёнка — жесткая бархатистая ножка.
        Сростки его плодовых тел выглядят огненными пятнами на фоне снега. Гриб
        приноровился плодоносить во время оттепелей зимой. Можно наблюдать под
        микроскопом, как при повышении температуры выше нуля срастаются
        лопнувшие при замерзании клетки его мицелия.</p>
    <p>Когда узнал, был удивлён: ядовитые грибы с фото и названием</p>
    <p>Растет
        на отмерших и живых стволах деревьев, а также на пнях ивы, тополя,
        березы и липы. Иногда его можно найти на хвойных деревьях.</p>
    <p>Плодоносит с сентября по декабрь. Иногда вырастает весной.</p>
    <p><strong>Ядовитых двойников не имеет.</strong></p>
    <p><em>Из зимнего опёнка варят супы, солят горячим способом, маринуют в банках.</em></p>
</div>

{% endblock content %}
